.custom-dropdown {
  position: relative;
  input[type="text"] {
  margin-top: 15px;
  padding: s;
  font-size: 16px;
  border: none;

  outline: none;
  width: 200px;
  cursor: pointer;

  }

  ul {
    list-style-type: none;
    font-size: 14px;
    margin: 0.5;
    padding: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    background-color: #fff;

    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    cursor: pointer;
  }
}
.input-box{
  border-bottom: 1.5px solid black;
}
.icon{
width:15px;
hight:15px;
cursor: pointer;

}




