<form *ngIf="toggleNewTripVisibility()">
  <div class="custom-dropdown-container">
    <label class="label-container">Neue Fahrt</label>

    <!-- Customer dropdown -->
    <app-custom-dropdown [options]="dropdownCustomer" placeholder="Fahrgast" (optionSelected)="selectCustomer($event)"></app-custom-dropdown>

    <!-- Location dropdown -->
    <app-custom-dropdown [options]="dropdownLocations" placeholder="Abholort" (optionSelected)="selectLocation($event)"></app-custom-dropdown>


    <label class="label-container">test</label>

  </div>
</form>
