
.custom-dropdown-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column; /* Hinzugefügt, um die Komponenten untereinander anzuordnen */
  align-items: center;
  justify-content: center; /* Hinzugefügt, um horizontal zu zentrieren */
}






