.timepicker-box{
  width: 160px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3px;
  justify-items: center;


}

.header-label {
  color:gray;
  font-size: 14px;
}

.icon{
  width:10px;
  height:10px;
  cursor: pointer;
}
.startTimeIcon{
  width:25px;
  height:25px;
  cursor: pointer;
}
.date-label{
  margin-left:5px;
  margin-right:5px;
}
