.datepicker-box{

  width: 220px;
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3px;
  justify-items: center;
  border-bottom: 1.5px solid black;

}

.header-label {
  color:gray;
  font-size: 14px;
}

.icon{
  width:10px;
  height:10px;
  cursor: pointer;
}

.date-label{
  margin-left:5px;
  margin-right:5px;

}





